<% content_for :title, @content_item.title %>
<% content_for :description, @content_item.description %>

<% content_for :body_class, @content_item.format %>

<%= render partial: 'govuk_component/breadcrumbs', locals: {
  sections: [
    {
      title: "Housing and local services",
      url: "/browse/housing-local-services"
    },
    {
      title: "Council Tax",
      url: "/browse/housing-local-services/council-tax"
    }
  ]
} %>


<div class="grid-row">
  <div class="column-two-thirds">
    <%= render partial: 'govuk_component/title', locals: {
      title: @content_item.title
    } %>

    <%= render 'govuk_component/govspeak',
        content: @content_item.details.introduction
    %>

    <% if @authority %>

      <h2>
        <%= @authority.name %>
        <small>(<a href="/local-transactions<%= @content_item.base_path %>">change location</a>)</small>
      </h2>
      <% if @authority.interaction %>
        <a href="<%= @authority.interaction.url %>" class="button big">Start Now</a>
      <% else %>
        <p>We don't have a direct link to this service from <%= @authority.name %><% if @authority.contact.url.present? %>, but you could try the <%= link_to @authority.name + " website", @authority.contact.url, :rel => :external %><% end %>.</p>
        <% if @authority.contact.address %>
          <div class="adr"><%= simple_format @authority.contact.address.join("\n") %></div>
        <% end %>
        <% if @authority.contact.phone.present? %>
          <p class="tel"><strong>Telephone:</strong> <span class="value"><%= @authority.contact.phone %></span></p>
        <% end %>
      <% end %>

    <% else %>

      <h2>Choose your local authority</h2>

      <ol class="authorities">
      <% @content_item.details.authorities.each do |authority| %>
        <li>
          <h3>
            <a href="/local-transactions<%= @content_item.base_path + '/' + authority.slug %>">
              <%= authority.name %>
            </a>
          </h3>
        </li>
      <% end %>
      </ol>

    <% end %>

    <section class="more">
      <% if @content_item.details.need_to_know %>
        <h2>What you need to know</h2>
        <%= render 'govuk_component/govspeak',
            content: @content_item.details.need_to_know
        %>
    <% end %>
    <br>
    <% if @content_item.details.more_information %>
        <%= render 'govuk_component/govspeak',
            content: @content_item.details.more_information
        %>
    <% end %>
  </section>
  </div>

  <div class="column-third" style="margin-top: 40px;">
    <%= render partial: 'govuk_component/related_items', locals: {
    sections: [
      {
        title: "Council Tax",
        url: "/browse/housing-local-services/council-tax",
        items: [
          {
            title: 'Council Tax',
            url: '/council-tax'
          },
          {
            title: 'Council Tax Bands',
            url: '/council-tax-bands'
          },
          {
            title: 'Apply for Council Tax Reduction',
            url: '/apply-council-tax-reduction'
          }
        ]
      }
    ]
  } %>
  </div>
</div>
