<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>

  <div id="wrapper" class="<%= yield :wrapper_class %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

  </body>
</html>
